weights/*
.ipynb_checkpoints/
data/
.vscode/
*.sublime-workspace
.idea/
*.DS_Store
*/__pycache__/
__pycache__/
*.pth
*.xml
*.fuse*
CC/data
outputs/
outputs
externals/
.env
runs/
!weights/contact_regions.json
