.ipynb_checkpoints/
.vscode/
*.sublime-workspace
.idea/
*.DS_Store
*/__pycache__/
__pycache__/
*.pth
*.xml
*.fuse*
CC/data
.env

runs/
externals/
outputs/
outputs
data/

weights/*
!weights/contact_regions.json
!weights/obj_models/
epic_analysis

scratch/